<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello <%= name %>.</h1>                 <!-- used the variable using ejs syntax...... -->

    <%- include("h2") %>                        <!-- h2 file from views directory is imported directly....... -->           <!-- it can be imported and used anywhere, which makes it very usefull..... -->
</body>

</html>